
// Grayscale
@black:           #120108; // 00
@very-dark-gray:  #2a1a21; // 01
@dark-gray:       #413339; // 02
@gray:            #594c52; // 03
@light-gray:      #977d7d; // 04
@very-light-gray: #aa8e8e; // 05
@almost-white:    #bca0a0; // 06
@white:           #d3b9b9; // 07

// Colors
@red:             #ef6155; // 08
@orange:          #f99b15; // 09
@yellow:          #fec418; // 0A
@green:           #44ecc0; // 0B
@cyan:            #85c0f2; // 0C
@blue:            #7b7eea; // 0D
@purple:          #815ba4; // 0E
@brown:           #e96ba8; // 0F
